<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="CloudCanvas.Shared" />
			<package pattern="Microsoft.*" />
			<package pattern="Azure.*" />
			<package pattern="System.ComponentModel.Annotations" />
			<package pattern="System.Formats.Asn1" />
			<package pattern="System.IdentityModel.Tokens.Jwt" />
			<package pattern="System.IO.Pipelines" />
			<package pattern="System.Runtime.Caching" />
			<package pattern="System.Security.Principal.Windows" />
			<package pattern="System.Text.Encoding.CodePages" />
			<package pattern="dotnet*" />
			<package pattern="System.*" />
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>